<h1>Restaurants</h1>

<ol>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %> | <%= restaurant.address %> | Rating: <%= restaurant.rating %></li>
<% end %>
</ol>

<%= link_to 'Add a new restaurant', restaurants_new_path %>
